node_modules/
dist/
.env
*.log
.angular/
out-tsc/
backend/node_modules/
backend/.cache/
backend/dist/
backend/logs/
backend/target/
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/

# Local Netlify folder
.netlify
